body{
    background-color: #A8D5E3;
}

.button{
    text-align: center;
    background-color:  black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 16px;

}

.parent{
    text-align: center;
}

.box{
    background-color: #2C2E39;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
}