body{
    background-color: #A8D5E3;
    
}


.parent{
    text-align: center;
    display:flex;
}

.btn{
    text-align: center;
    color: black;
    border-radius:10px;
    background-color:  black;
    cursor: pointer;
    font-size: 30px;
    padding: 15px 16px;

}



.box{
    background-color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}